@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "MonumentExtended-Ultrabold";
    /* font-family: "Monument Extended", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    overflow: hidden;
}

@media (max-height: 700px) {
    html,
    body {
        font-size: 12px;
    }
}

html {
    background: #000;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
